<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem id="menu_national_id_root"
              name="National ID Application System"/>
    <menuitem id="menu_frontdesk"
              name="Front Desk"
              parent="menu_national_id_root"/>
    <menuitem id="menu_create_national_id"
              name="View National ID Applicants"
              parent="menu_frontdesk"
              action="action_national_id_application"/>
      <menuitem id="menu_id_creation"
              name="Create National ID Applicant"
              parent="menu_frontdesk"
              action="action_national_id_creation"/>

</odoo>